.board-options {
  padding: 1rem 0;
  position: relative;

  .btn-add-group {
    background-color: #0085ff;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    padding: 4px 8px;
    color: #ffff;
    &:hover {
      background-color: #0071d9;
      cursor: pointer;
    }
  }
  .btn-search {
    width: 5.625rem;
    padding: 3px 10px;
    border-radius: 4px;
    transition: all 0.4s;

    .input-search {
      width: 100%;
      border: none;
      outline: none;
      color: rgb(50, 51, 56);
      &::placeholder {
        color: rgb(50, 51, 56);
      }
    }
    &:hover {
      .input-search {
        background-color: rgb(230, 233, 239);
      }
      background-color: rgb(230, 233, 239);
    }
    &.searching {
      position: relative;
      width: 11.875rem;
      @include for-mobile-layout{
        width: unset;
        flex: 1;
      }
      background-color: white;
      border: 1px solid rgb(0, 133, 255);
      &:hover {
        .input-search {
          background-color: white;
        }
      }
      .input-search:hover {
        background-color: white;
      }
    }
  }
  .filter-btn {
    cursor: pointer;
    height: 2rem;
    border-radius: 4px;
    width: 6.25rem;
    img {
      width: 20px;
    }
    &:hover {
      background-color: rgb(230, 233, 239);
    }
  }
}
