.main-modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    height: 500px;
    width: 530px;
    padding: 24px 32px 8px 32px;
    .main-modal-close {
        border: 0;
        margin: 0;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.2rem;
        background-color: transparent;
        padding: 4px 8px;
        border-radius: 4px;
        &:hover {
            background-color: #e6e9ef;
        }
    }
}
