$clr1: #0185ff;
$clr2: #0071d9;
$clr3: #f5f6f8;
// LAYOUT BREAKPOINTS
// $break-normal: 750px;
// $break-normal-wide: 860px;

$break-mobile: 440px;
$break-max-narrow: 550px;
$break-narrow: 750px;
$break-normal: 950px;
$break-wide: 1300px;
